<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrinho.css">
    <title>Carrinho - TechTweaks</title>
</head>

<body>
    <header>
        <h1>TechTweaks</h1>
        <nav>
            <a href="/">Home</a>
            <a href="servicos">Serviços</a>
            <a href="login">Login</a>
            <a href="carrinho">Carrinho</a>
        </nav>
    </header>
    <main>
        <h2>Carrinho de Compras</h2>
        <ul>
            <li>
                <span>Otimização de Sistema</span>
                <span>R$ 120,00</span>
                <button class="btn-remove">Remover</button>
            </li>
            <li>
                <span>Formatação Completa</span>
                <span>R$ 200,00</span>
                <button class="btn-remove">Remover</button>
            </li>
        </ul>
        <p><strong>Total:</strong> R$ 320,00</p>
        <a href="compra">
            <button class="btn">Finalizar Compra</button>
        </a>
    </main>
    <footer>
        <nav>
            <a href="sobre">Sobre Nós</a>
            <a href="servicos">Serviços</a>
            <a href="contato">Contato</a>
        </nav>
        <p>&copy; 2024 TechTweaks. Todos os direitos reservados.</p>
    </footer>
</body>

</html>