<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sobre.css">
    <title>Sobre Nós - TechTweaks</title>
</head>

<body>
    <header>
        <div class="navbar-brand">
            <span class="navbar-logo">
                <a href="index">
                    <img src="assets/images/logo-4-121x121.png" alt="Mobirise" style="height: 4.1rem;">
                </a>
            </span>
        </div>
        <nav>
            <a href="index">Home</a>
            <a href="servicos">Serviços</a>
            <a href="login">Login</a>
            <a href="contato">Contato</a>
        </nav>
    </header>
    <main>
        <h2>Sobre Nós</h2>
        <section class="about-us">
            <p>Bem-vindo à <strong>TechTweaks</strong>, sua fonte confiável para manutenção e otimização de
                computadores. Nosso objetivo é oferecer suporte e serviços de qualidade para garantir o bom
                funcionamento de seus computadores, sejam eles de uso pessoal, empresarial ou profissional.</p>
            <p>Na <strong>TechTweaks</strong>, entendemos a importância de um computador funcionando perfeitamente, seja
                para suas tarefas diárias, para o trabalho ou para o lazer. Com anos de experiência na área de
                tecnologia, nossa equipe está preparada para resolver uma variedade de problemas e otimizar o desempenho
                de seus equipamentos.</p>
            <p>Nosso compromisso é com a satisfação do cliente. Oferecemos serviços como:</p>
            <ul>
                <li>Limpeza e otimização de computadores.</li>
                <li>Consultoria para recomendações de hardware.</li>
                <li>Manutenção e assistência técnica.</li>
                <li>Instalação de software.</li>
            </ul>
            <p>Nossa missão é garantir que você tenha a melhor experiência possível com seus computadores,
                proporcionando um serviço rápido, eficiente e de alta qualidade. Estamos aqui para ajudar você a tirar o
                máximo proveito de sua tecnologia.</p>
            <p><strong>TechTweaks - Cuidando da sua tecnologia para que você possa focar no que realmente
                    importa.</strong></p>
        </section>
    </main>
    <footer>
        <nav>
            <a href="sobre">Sobre Nós</a>
            <a href="servicos">Serviços</a>
            <a href="contato">Contato</a>
        </nav>
        <p>&copy; 2024 TechTweaks. Todos os direitos reservados.</p>
    </footer>
</body>

</html>